.english-form {
  background-color: hsl(0, 0%, 97%);
  margin: 5px;
  height: 850px;
  border-radius: 10px;
  box-shadow: 1px 4px 25px -5px black;
}

input {
  background: transparent;
  border: none;
  border-bottom: 3px solid #672d92;
  min-width: 300px;
}

.pigLatin-output {
  font-size: 2rem;
  margin: 5px;
  background-color: pink;
  height: 700px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 4px 25px -5px black;
}
